{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ city.name }} | Образ города
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    <style>
        #cover {
            background-image: url({{ city.image.url }});
            background-repeat: no-repeat;
            background-size: cover;
        }

        #cover .hero-body, .hero-foot {
            background: #00000070;
        }

        #hero-footer {
            position: relative;
        }

        .slider-image {
            width: 825px;
            height: 825px;
        }

        .arrow {
            width: 30px;
            margin: 0 auto;
            margin-bottom: 1rem;
            padding: 35px;
        }

        .arrow span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 5px solid white;
            border-right: 5px solid white;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }

        .arrow span:nth-child(2) {
            animation-delay: -0.2s;
        }

        .arrow span:nth-child(3) {
            animation-delay: -0.4s;
        }

        @keyframes animate {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }
    </style>
{% endblock %}

{% block content %}
    <section class="hero is-fullheight-with-navbar" id="cover">
        <div class="hero-body">
            <div class="container">
                <div class="has-text-centered">
                    <h1 class="title is-1 has-text-white">{{ city.name }}</h1>
                </div>
            </div>
        </div>

        <div class="hero-foot" id="hero-footer">
            <div class="has-text-centered has-text-white">
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>

                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="content">
            <div class="has-text-centered is-spaced">
                <h1 class="title is-3">Данные</h1>
            </div>

            <p class="subtitle">{{ city.description }}</p>
        </div>

        <div class="content">
            <div class="columns is-0-desktop-only">
                <div class="column">
                    <div class="has-text-centered">
                        <div class="title is-3">Настроение</div>
                    </div>
                    <div id="avg_sentiment_city"></div>
                </div>
                {% if clouds %}
                    <div class="column">
                        <div class="has-text-centered">
                            <h3 class="title is-3">Облако тем</h3>
                        </div>

                        {% for cloud in clouds %}

                            <div class="carousel-words-slider">
                                {% for photo in clouds %}
                                    <div class="image slider-image">
                                        <img src="{{ photo.cloud_photo.url }}"/>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endfor %}

                    </div>
                {% endif %}
            </div>

            {% if  citizen_photos %}
                <div class="has-text-centered">
                    <h3 class="title is-3">Жители</h3>
                </div>

                <div class="carousel-slider">
                    {% for photo in citizen_photos %}
                        <div class="image slider-image">
                            <img src="{{ photo.photo.url }}"/>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
    <script src="http://d3js.org/d3.v4.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js" defer></script>
    <script type="text/javascript" src="{% static 'js/city_detail.js' %}" defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="{% static 'slick/slick.js' %}"></script>
    <script type="text/javascript" defer>
        $(document).ready(function () {
            $('.carousel-slider').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear'
            });

            $('carousel-words-slider').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear'
            });
        });
    </script>

{% endblock %}