<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bulma-0.7.4 2/css/bulma.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/global.css' %}">

    {% block css %}

    {% endblock %}


    <title>{% block title %}Образ города{% endblock %}</title>
</head>
<body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="container">

            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'assets/svg/logo_white_vertical_mini.svg' %}">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">

                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Главная
                    </a>
                    <a class="navbar-item" href="{% url 'cities:index' %}">
                        Статистика
                    </a>

                    <a class="navbar-item" href="{% url 'about-page' %}">
                        О проекте
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Проект <strong>"Образ города"</strong> был подготовлен в ходе участия в конкурсе
                <a href="https://konkurs.sochisirius.ru/" class="is-link">"Большие вызовы"</a>.
            </p>
            <div class="heart-container">
                <div class="heart"><div></div></div>
                <a href="http://mt-potatoes.ddns.net/donate/?project=cityiso" class="button is-small is-danger is-outlined">Поддержка проекта</a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {# Bulma navbar script #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>

    {% block js %}
    {% endblock %}
    </body>
</html>