/* page */

body > div.container > div.content {
    padding: 1rem;
}

body > div.container > div.content h1:not(:first-child) {
    margin-top: 1rem;
}

body > div > div p a,
body > footer.footer > div > p > a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

/* navbar */

body > nav.navbar {
    background: #563979;
    background: -moz-linear-gradient(-45deg, #563979 0%, #9c537d 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #563979), color-stop(100%, #9c537d));
    background: -webkit-linear-gradient(-45deg, #563979 0%, #9c537d 100%);
    background: -o-linear-gradient(-45deg, #563979 0%, #9c537d 100%);
    background: -ms-linear-gradient(-45deg, #563979 0%, #9c537d 100%);
    background: linear-gradient(135deg, #563979 0%, #9c537d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#563979', endColorstr='#9c537d', GradientType=1 );
}

#navbarBasicExample > div > a {
    -moz-transition: background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

#navbarBasicExample > div > a:hover {
    background-color: #0000001c;
}

/* footer */

body > footer {
    background-color: #1b1c1d !important;
    color: #ffffffa0 !important;
    padding: 1rem;
    margin-top: 1.5rem;
}

body > footer.footer > div > p > strong {
    color: #ffffffb3;
}

body > footer > div > p > a {
    color: #ffffffbb;
}

body > footer > div > p > a:hover {
    color: #ffffffef;
}
