@charset "utf-8";
@import "../bulma-0.7.4 2/bulma.sass";

$primary: #56306A;

.card{
  transition: 0.3s;
  width: 30%;
  margin: 2rem 0.5rem 0.5rem 0;

  &:hover {
    transform: translate(0px, -0.5rem);
  }
}

.cover-arrow {
  font-size: 2rem;
  animation: up-down 2.5ms infinite ease-in-out;
}

@keyframes up-down {
  0% {
    top: -1rem;
  }

  100% {
    top: 1rem;
  }
}
